<div class="mainContent">


    <div class="userlist">
        <div class="header">
            <h1>Full User List</h1>
            <br>
            <div class="table">
                <table>
                    <tr>
                        <th>ID NUMBER</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Modify</th>
                    </tr>
                    <tr *ngFor="let user of users; index as x">
                        <td>{{x+1}}</td>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <fa-icon (click)="deleteUser(i)" [icon]="faTrash"></fa-icon>
                        </td>
                    </tr>
                    <tr class="endcol">
                        <td colspan="5">END OF TABLE</td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="actions">
            <button (click)="nav('user-list')">Refresh Content</button>
            <button (click)="nav('home')">Return to Previous Page</button>
        </div>
    </div>
</div>