/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-image: url(assets/komisanbg2f.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #05386b;
}

h1 {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 5px gray;
}

h3 {
    color: #05386b;
    padding-top: 5px;
    padding-bottom: 10px;
}

h4 {
    color: white;
    text-shadow: 2px 2px 5px gray;
}

h5 {
    color: #05386b;
}