<div class="nav-body">
    <div class="site-title">
        <h3 (click)="nav('home')">Portal</h3>
    </div>
    <div class="site-links">
        <h3 *ngIf="auth.authenticated" (click)="nav('home')">Home Page</h3>
        <h3 *ngIf="auth.authenticated" (click)="nav('register')">New Account</h3>
        <h3 *ngIf="auth.authenticated" (click)="nav('users')">User List</h3>
        <!-- <h4 *ngIf="auth.authenticated" (click)="nav('search')">Search</h4> -->


    </div>
    <div class="site-user">
        <h3 class="logout" *ngIf="auth.authenticated" (click)='logout()'>Logout</h3>
        <h3 *ngIf="!auth.authenticated" (click)="nav('login')">Login</h3>
    </div>
</div>