.userMain {
    width: 100%;
    height: 100%;
    background-color: #ffffff3a;
    display: grid;
    align-content: center;
    justify-content: center;
    overflow-y: auto;
    table {
        min-width: 80vw;
        text-align: left;
        color: black;
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            background-color: black;
            color: white;
            text-shadow: 2px 2px 5px black;
            max-height: 60px;
            label {
                padding-bottom: 4px;
                padding-top: 4px;
            }
            input {
                padding-top: 4px;
                padding-bottom: 4px;
            }
            h3,
            h5 {
                color: white;
                cursor: pointer;
            }
            h5 {
                color: red;
            }
        }
        th.search div {
            max-width: 70%;
            display: flex;
            flex-direction: column;
            align-items: left;
        }
        td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddda8;
        }
        tr:nth-child(odd) {
            background-color: #FF7FB3a8;
        }
        td.options {
            width: 40px;
            padding: 0px;
            cursor: pointer;
            text-align: center;
        }
        tr.endcol {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            background-color: black;
            color: white;
            text-shadow: 2px 2px 5px black;
        }
        fa-icon {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    button {
        height: 10%;
        width: 9vw;
        font-size: 10px;
        padding: 12px 20px;
        margin: 10 0 5 0;
    }
}