<div class="userMain">
    <table *ngIf="viewedUserIndex == undefined">
        <thead>
            <th>
                <h3>Users</h3>
                <h5 (click)="resetDB()">Repopulate db</h5>
            </th>
            <th colspan="4">
                <label for="Search">Search Term </label><input type="search" (change)="getData(searchVal.value)" #searchVal></th>
            <tr>
                <th>User Number</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">

                <td>{{ i + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.age }}</td>
                <td class=" options ">
                    <fa-icon [ngStyle]="{ 'color': 'red'} " (click)="deleteUser(i) " [icon]="faTrash "></fa-icon>
                    <fa-icon (click)="viewUserData(i)" [icon]="faEdit"></fa-icon>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="endcol ">
                <td colspan="6 ">END OF TABLE</td>
            </tr>
        </tfoot>

    </table>
    <edit-user *ngIf="viewedUserIndex != undefined" [id]="userID" [user]="users[viewedUserIndex]" (backEvent)="handleBackEvent($event)"></edit-user>
</div>