<div class="userMain">

    <table *ngIf="viewedUserIndex == undefined && searchService == undefined">
        <thead>
            <tr>
                <th colspan="5">
                    <h3 style="cursor: default">Users</h3>
                    <div class="wrap">
                        <div class="inbox" (click)="enableSearchService()">
                            <h4 *ngIf="searched == undefined" style="color:black">
                                <fa-icon [icon]="faSearch"></fa-icon> Search Here
                            </h4>
                            <h4 *ngIf="searched != undefined" style="color:black">
                                <fa-icon [icon]="faSearch"></fa-icon> {{searched}}
                            </h4>
                        </div>
                        <button *ngIf="searched != undefined" (click)="resetSearch()">Clear</button>
                    </div>
                    <div style="width:10%">
                        <h6 (click)="resetDB()">Repopulate db</h6>
                    </div>

                </th>
            </tr>
            <tr>
                <th>User Number</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">

                <td>{{ i + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.age }}</td>
                <td class=" options ">
                    <fa-icon [ngStyle]="{'color': 'red'} " (click)="deleteUser(i) " [icon]="faTrash"></fa-icon>
                    <fa-icon (click)="viewUserData(i)" [icon]="faEdit"></fa-icon>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="endcol ">
                <td colspan="6 ">END OF TABLE</td>
            </tr>
        </tfoot>

    </table>
    <edit-user *ngIf="viewedUserIndex != undefined" [id]="userID" [user]="users[viewedUserIndex]" (backEvent)="handleBackEvent($event)"></edit-user>
    <searchwin *ngIf="searchService != undefined" (backEvent)="handleBackEvent($event)"></searchwin>
</div>