.footer-body {
    min-height: 41px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #b3b3b3af;
    .footent {
        cursor: pointer;
        h4 {
            color: black;
        }
    }
}