<div class="mainContent">
    <div class="dbox">
        <h2> EDIT USER INFO</h2>
        <h3> Id code: {{id}}</h3>
        <form class="inputs" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="NAME">Name</label>
            <input type="text" name="NAME" formControlName="fcName" />
            <label for="AGE">Age</label>
            <input type="number" name="AGE" formControlName="fcAge" />
            <label for="EMAIL">Email</label>
            <input type="email" name="EMAIL" formControlName="fcEmail" />
            <button type="submit" [disabled]="!registerForm.valid">
                UPDATE ACCOUNT
            </button>
        </form>
        <div class="actions">
            <button (click)="goBack()">RETURN TO USERS LIST</button>
            <div *ngIf="error!=''" class="errorbox">
                <h5>{{error}}</h5>
            </div>
        </div>
    </div>
</div>